/**
 * <%= name %> v<%= version %>
 *
 * <%= repository.url %>
 *
 * Copyright (c) <%= config.authorYear %> <%= author %>
 * Copyright (c) <%= config.contribYear %> <%= _.pluck(contributors, "name").join(", ") %>
 *
 * @license <%= license %>
 */
